.dataset-container{
    background: #fafbf4;
    width: 100vw;
    min-height: 90vh;
    height: max-content;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.user-container{
    padding: 30px;
    width: 100vw;
    min-height: 70vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}